<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/sampledb</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">sampleuser</property>
    <property name="connection.password">sampleuser</property>
    <!-- DB schema will be updated if needed -->
     <property name="hbm2ddl.auto">update</property>
     <property name="show_sql">true</property>
      <mapping class="com.vin.web.impls.UserEntity"/>
  </session-factory>
</hibernate-configuration>